  .indexgen {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 0px;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
  }
  html {
    height: 100%;
    background-color: #f2f7f9 !important;
  }
  .conteneur {
    background-color: #3598dc;
    margin-bottom: 30px;
  }
  .espace {
    padding: 20px;
  }
  .espacemargin {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .btn_add {
    position: absolute;
    right: 10px;
    top: 7px
  }

  /** PADDING STYLE */
  .padding-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .padding-x-10 {
    padding: 0 10px 0 10px;
  }
  .padding-x-20 {
    padding: 0 20px 0 20px;
  }
  .padding-t-60 {
    padding: 60px 0 0 0;
  }
  .padding-b-65 {
    padding: 0 0 65px 0;
  }
  .padding-r-10 {
    padding-right: 20px !important;
  }
  .padding-content-art{
    padding: 60px 80px 20px 80px;
  }
  .p20 {
    padding: 20px;
  }
  .pl {
    padding-left: 40px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }

  /** MARGIN STYLE */
  .margin-x-20 {
    margin: 0 20px 0 20px;
  }

  .color-navbar {
    background-image: -webkit-gradient(linear, left top, right top, from(#2079B7), to(#35DCD1));
    background-image: linear-gradient(to right, #2079B7, #35DCD1);
  }
  .color-logo {
    background-image: linear-gradient(to right, rgba(32, 122, 184, 1) 0%, rgba(53, 152, 220, 1)100%);
  }
  .btn-icon {
    padding-right: 20px;
  }
  .linebord {
    border-right: white solid 1px;
  }
  .imge {
    margin-top: 10px;
    padding-right: 0px;
  }
  .navbar-item img {
    max-height: 3rem !important;
  }
  .separation-bar-header {
    border-right: 1px solid white;
    height: 48px
  }
  .arialigne {
    top: 0px;
    text-align: left;
    font: Regular 14px Open Sans;
    letter-spacing: 0;
    color: #C2CAD8;
    width: 300px;
    height: 48px;
  }
  .ariacat {
    text-align: left;
    font: Regular 19px Open Sans;
    letter-spacing: 0;
    color: #2C3E50
  }
  .color-back-grid {
    background-color: #F2F7F9 !important;
  }
  .color-grid-2{
    color: #5E738B;
  }
  .catbox {
    box-shadow: 0px 0px 3px #00000029;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .fixe-h-foot{
    height: 60px;
  }
  .cursor-pointer:hover{
    cursor: pointer;
  }